.cards{
 width: 100vw;
 display: flex;
 justify-content: center;
 padding: 5rem 2rem 5rem 2rem;
  background-color: #dafcf1;
}
.cards-list{
width: 100%;
display: flex;
justify-content: space-around;
 flex-wrap:wrap;
}
.card{
 margin: 30px auto;
 width: 350px;
 height: 250px;
 border-radius: 40px;
-webkit-box-shadow: 4px 6px 31px 5px rgba(0,0,0,0.43);
-moz-box-shadow: 4px 6px 31px 5px rgba(0,0,0,0.43);
box-shadow: 4px 6px 31px 5px rgba(0,0,0,0.43);
 cursor: pointer;
 transition: 0.4s;
 background-color: #ffff;
}
.card .card-img{
 width: inherit;
 height: inherit;
 border-radius: 40px;
}
/* Eventuell används img element */

.card-title{
 font-family:"Space Mono", monospace;
 text-align: center;
 border-radius:  0px 0px 40px 40px;
 font: 1.2rem;
 font-size: 600;
 margin-top:-80px;
 height: 40px;
}
.card:hover{
 scale: 0.9 0.9;
 /* transform:scale(0.9, 0.9); */
-webkit-box-shadow: 4px -5px 43px 4px rgba(0,0,0,0.46);
-moz-box-shadow: 4px -5px 43px 4px rgba(0,0,0,0.46);
box-shadow: 4px -5px 43px 4px rgba(0,0,0,0.46);
box-shadow: 4px 6px 31px 5px rgba(0,0,0,0.43);
}