.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid green 5px;
}
.footer > h2{
 color: red;
}
.footer-logo {
  display: flex;
  font-size: 50px;
  align-items: center;
  margin: 1rem;
  color: #ffff;
}