.footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;;
  align-items: center;
border:solid rgba(128, 128, 128, 0.352) 3px;
}
.footer > h2{
 color: white;
}
.footer-logo {
  display: flex;
  font-size: 50px;
  align-items: center;
  margin: 1rem;
  color: #ffff;
}