.confirm-form {
 margin: 2rem;
  display: flex;
  max-width: 667px; 
  min-width: 335px; 
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid red 5px;
}
.confirm-form {
  /*   background-color: #6e95b8; */
  width: 50%;
  height: 610px;
  margin: 30px auto;
  text-decoration: none;
}
.confirm-form >h1{
  color: red;
  margin-bottom: 25rem;
}