@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300;1,400;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to top,
    rgb(40, 64, 174),
    rgb(65, 197, 199, 0.8),
    rgba(6, 6, 7, 0.878)
  );
  background: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.card {
  margin: 5px auto;
  display: flex;
  max-width: 667px; 
  min-width: 335px; 
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
  border: solid rgba(128, 128, 128, 0.352) 3px;
}
.card > p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight:100;
  font-family:'Lato', sans-serif;
  letter-spacing: 1.4px;
  color: #ffff;
  /*   flex: 1 0 300px; */
}
input{
  margin: 1.6rem;
  padding:1.1rem;
  border: solid black 2px;
}
button {
  min-width: 235px; /* Mobile enhet 375px */
  padding: 0.5rem;
}
button:hover {
  background-color: white;
  color: black;
}



.link1 {
  /* flex-wrap:wrap */
  border: solid black 3px;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color:rgb(65, 197, 199, 0.8);
  color: white;
  border-radius: 5px;
}
.link1:hover {
  background-color: white;
  color: grey;
}



